body {
    margin: auto;
}

.container {
    display: flex;
    flex-direction: column;
}

.zone {
    color:#FFF;
    font-size:2em;
    font-family: "Playfair Display";
}

.navigation {
    display: flex;
    flex-direction: row;
}

.nav_items {
    padding: 20px;
}

/*https://paulund.co.uk/how-to-create-shiny-css-buttons*/
/***********************************************************************
 *  Green Background
 **********************************************************************/
.green{
    display: flex;
    background: black;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    top: 0;
    margin: auto;
    width: 100%;
}

/***********************************************************************
 *  Red Background
 **********************************************************************/
.red{
    display: flex;
    background: #AA3939;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    height: 70vh;
}

/***********************************************************************
 *  Yellow Background
 **********************************************************************/
.yellow{
    display: flex;
    background: black;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
}

/***********************************************************************
 *  Blue Background
 **********************************************************************/
.blue{
    display: grid;
    background: black;
    padding-top: 25px;
    padding-bottom: 25px;
    align-items: center;
}

.project_items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-template-rows: 1fr;
    grid-gap: 20px;
    justify-items: center;
    justify-content: space-evenly;
}

.images {
    height: 70px;
    width: 70px;
}

.box {
    display: grid;
    background-color: grey;
    border: 1px solid white;
    border-radius: 30px;
    height: 400px;
    width: 400px;
    justify-items: center;
    align-content: center;
    transition: all 0.3s;
}

.box:hover {
    transform: scale(1.07);
}