body,
html {
  width: 100%;
  height: 100%; 
}

.splash_img {
	background: url("background.jpg");
	background-position: center;
	background-size: cover;
	height: 800px;
}

.splash_img h6 {
	font-size: 5em;
	color: white;
	margin-top: 150px;
}

.space1 {
	background-color: black;
	background-size: cover;
	background-position: center;
	height: 150px;
}

.btn {
	margin-top: 70px;
	transition: 0.5s;
}

.btn:hover {
	transform: scale(1.05);
}
